<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị • HomesTayBac</title>
    <link rel="stylesheet" th:href="@{/admin.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="d-flex justify-content-between align-items-center bg-success p-3">
            <h2 class="text-white">Trang quản trị</h2>
            <div>
                <span class="text-white">Xin chào, admin</span>
                <div class = "d-flex justify-content-end"><a th:href = "@{/admin/logout}" class = "text-light">đăng xuất</a></div>    <!--đăng xuất-->
            </div>
        </div>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>                                      <!--về trang chủ-->
            <li class="breadcrumb-item active" aria-current="page"><a href="/admin/manage">Trang quản trị</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản lý Homestay</li>
        </ol>
    </nav>

    <div class="container-fluid row m-0">
        <div class="managecol p-0 col-2">
            <div>Quản lý</div>
            <ul class = "manage px-3">
                <li> <a th:href="@{/admin/homestay-list}">Quản lý Homestay</a></li>  <!-- Không cần liên kết -->
                <li> <a th:href="@{/admin/user}">Quản lý khách hàng</a></li>
            </ul>
        </div>
        <div class="action col-9.5">
            <!-- Tìm kiếm -->
            <form class="border p-3 mb-3">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label id="homestayid">ID</label>
                        <input type="text" class="form-control" placeholder="Nhập id Homestay" name="id">
                    </div>
                    <div class="form-group col-md-3">
                        <label id="homestayname">Tên Homestay</label>
                        <input type="text" class="form-control" placeholder="Nhập tên Homestay" name="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label id="address">Địa chỉ</label>
                        <input type="text" class="form-control" placeholder="Nhập địa chỉ Homestay" name="address">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Tìm kiếm</button>                          <!--tìm kiếm-->
            </form>

            <div>
                <div class="d-flex justify-content-end mb-1">
                    <a href="/admin/homestay-edit" class="btn btn-success btn-sm">Thêm mới</a>
                </div>
                <table class="table table-bordered" style="width: 150vh">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 7%; text-align: center">ID</th>
                            <th style="width: 20%; text-align: center">Tên</th>
                            <th style="width: 45%; text-align: center">Địa chỉ</th>
                            <th style="width: 13%; text-align: center">Giá</th>
                            <th style="width: 15%; text-align: center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="homestay : ${homestays}" th:if="${homestays != null}">
                            <td class="p-2" style="text-align: center" th:text="${homestay.id}"></td>
                            <td class="p-2" style="text-align: center" th:text="${homestay.name}"></td>
                            <td class="p-2" style="text-align: center" th:text="${homestay.address}"></td>
                            <td class="p-2" style="text-align: center" th:text="${homestay.price + '/ngày'}"></td>

                            <td class = "p-2" style="text-align: center">
                                <!-- Sửa -->
                                <form th:action="@{/admin/homestay-edit/{id}(id=${homestay.id})}" method="GET" style="display:inline;">
                                    <button type="submit" class="btn btn-warning btn-sm">Sửa</button>
                                </form>
                                <!-- Xóa -->
                                <form th:action="@{/admin/homestay-delete/{id}(id=${homestay.id})}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
