<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Trị</title>
    <link rel="stylesheet" th:href="@{/admin.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="d-flex justify-content-between align-items-center bg-success p-3">
            <h1 class="text-white">Trang quản trị</h1>
            <div>
                <span class="text-white">Xin chào, admin</span>
                <div class = "d-flex justify-content-end"><a href = "#" class = "text-light">đăng xuất</a></div>  <!--đăng xuất-->
            </div>
        </div>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>                                  <!--về trang chủ-->
            <li class="breadcrumb-item active" aria-current="page">Quản trị</li>
        </ol>
    </nav>

    <div class="container-fluid row m-0">
        <div class="managecol p-0 col-2">
            <div>Quản lý</div>
            <ul class = "manage px-3">
                <li> <a th:href="@{/qlsp.html}">Quản lý Homestay</a></li>
                <!--qua page qlsp-->
                <li> <a href="qlkh.html">Quản lý khách hàng</a></li>                                    <!--qua page qlkh-->
            </ul>
        </div>
    </div>
        

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
