<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Trị</title>
    <link rel="stylesheet" th:href="@{/admin.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="d-flex justify-content-between align-items-center bg-success p-3">
            <h1 class="text-white">Trang quản trị</h1>
            <div>
                <span class="text-white">Xin chào, admin</span>
                <div class = "d-flex justify-content-end"><a href = "#" class = "text-light">đăng xuất</a></div>    <!--đăng xuất-->
            </div>
        </div>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>                                      <!--về trang chủ-->
            <li class="breadcrumb-item active" aria-current="page">Quản trị</li>
            <li class="breadcrumb-item active" aria-current="page">Quản lý Homestay</li>
        </ol>
    </nav>

    <div class="container-fluid row m-0">
        <div class="managecol p-0 col-2">
            <div>Quản lý</div>
            <ul class = "manage px-3">
                <li> <a href="#">Quản lý Homestay</a></li>  <!-- Không cần liên kết -->
                <li> <a th:href="@{/qlkh.html}">Quản lý khách hàng</a></li>  <!-- Liên kết tĩnh đến tệp qlkh.html -->
                <!--qua page qlkh-->
            </ul>
        </div>
        <div class="action col-9.5">
            <!-- Tìm kiếm -->
            <form class="border p-3 mb-3">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label id="homestayid">ID</label>
                        <input type="text" class="form-control" placeholder="Nhập id Homestay">
                    </div>
                    <div class="form-group col-md-3">
                        <label id="homestayname">Tên Homestay</label>
                        <input type="text" class="form-control" placeholder="Nhập tên Homestay">
                    </div>
                    <div class="form-group col-md-6">
                        <label id="address">Địa chỉ</label>
                        <input type="text" class="form-control" placeholder="Nhập địa chỉ Homestay">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Tìm kiếm</button>                          <!--tìm kiếm-->
            </form>

            <div>
                <div class="d-flex justify-content-end mb-1">
                    <a href="#" class="btn btn-success btn-sm">Thêm</a>                                 <!--thêm-->
                </div>
                <table class="table table-bordered" style="width: 150vh">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 7%">ID</th>
                            <th style="width: 20%">Tên</th>
                            <th style="width: 45%">địa chỉ</th>
                            <th style="width: 13%">Giá</th>
                            <th style="width: 15%">Thao tác</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class = "p-2">000001</td>
                            <td class = "p-2">longdan Homestay</td>
                            <td class = "p-2">Km10, Đường Nguyễn Trãi, Q. Hà Đông, Hà Nội</td>
                            <td class = "p-2">1k/ngày </td>
                            <td class = "p-2">
                                <button class="btn btn-info btn-sm">Xem</button>                                <!--xem-->
                                <button class="btn btn-warning btn-sm">Sửa</button>                             <!--sửa-->
                                <button class="btn btn-danger btn-sm">Xóa</button>                              <!--xóa-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
